## Data Preparation

In [8]:
## dependencies

## Install pandas and openpyxl 
# !pip install pandas
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 12.8 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: You are using pip version 21.2.2; however, version 22.2.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [120]:
import pandas as pd

col_keeps = {'%x (distance from pylorus side)':'%x', '%y (distance from bottom)':'%y',
             'Average IGLE Area (um²)':'area', 'Area Of Innervation':'area', 
             'Neuron Area Of Innervation (um²) -Convex Hull':'area'}
            
def load_data(data_name):
    df = pd.read_excel(data_name)
    # remove unnecessary columns
    for col in df.columns:
        if col in col_keeps:
            df.rename(columns = {col:col_keeps[col]}, inplace = True)
        else:
            df.drop(col, axis=1, inplace=True)
    # change the area to mm
    df['area'] = df['area'] * 1e-6        
    return df

In [121]:
df_igle = load_data('IGLE_data.xlsx')
df_ima = load_data('IMA_analyzed_data.xlsx')
df_efferent = load_data('Efferent_data.xlsx')

In [122]:
df_igle

            %x         %y      area
0    47.011740  44.245348  0.003601
1    25.346852  18.745693  0.001118
2    14.300961  30.530669  0.002687
3    23.319104  71.467953  0.001004
4    59.124867  81.047553  0.001610
..         ...        ...       ...
119  28.441836  50.999311  0.001402
120  37.406617  56.719504  0.001941
121   4.909285  59.476223  0.001664
122  30.522946  41.212957  0.000775
123  43.116329  34.252240  0.001004

[124 rows x 3 columns]

In [123]:
df_ima

(184, 3)

In [125]:
df_efferent

            %x         %y      area
0    60.224239  36.319779   7.74195
1    27.549386  27.498277  66.21480
2    15.589963  64.093728  18.16490
3    70.528564  86.560992  11.69020
4    78.964229  83.459683   5.01435
..         ...        ...       ...
126  66.631073  46.864232  46.06510
127  89.375334  37.491385  22.40610
128        NaN        NaN  21.86420
129        NaN        NaN  15.57500
130        NaN        NaN  48.48430

[131 rows x 3 columns]